{% extends 'index.html' %}

{% block content %}

{% load static %}

<div class="page-wrapper-opp">

    {% include 'standard-nav.html' %}

    <div class="main container py-4">

        <div class="row h-100 mt-5">

            <div class="hero-section col-sm-8 d-flex justify-content-around align-items-center flex-column ">

                <img src="{% static 'images/opp-logo.jpg' %}" class=" image-fluid rounded mx-auto d-block shadow" alt="" style="width: 280px;" >

                <div class="hero-text" style="min-height: 10rem; background-color: #eee; margin: 2rem 0 2rem 0;" >
                    <blockquote class="blockquote text-right mx-auto w-75 pt-5 pb-3 fs-6">
                        <p class="mb-3">We aim to spread awareness and vigilance towards crimes happening in society by involving citizens being informed and aware about the neighbourhood crimes, maximizing interaction with officials, <b>taking a step together.</b></p>
                        <footer class="blockquote-footer"><cite title="Source Title">Team OPP</cite></footer>
                    </blockquote>
                </div>
        

            </div>

            <div class="nav-links col-sm-4 d-flex flex-column align-items-center ">

                <div class="card px-4 shadow my-3">
                    <div class="card-body py-3">
                        <h5 class="card-title text-center mt-3"><i class="bi bi-person-check fs-1"></i></h5>
                        <p class="card-text text-center">Register as a Citizen.</p>
                        <p class="text-center mt-3 mb-3">
                            <a href="/user_auth/register" class="btn btn-primary me-2">Continue</a> or 
                            <a href="/user_auth/login" class="card-link ms-2 me-3">Login</a>
                        </p>
                    </div>
                </div>

                <div class="card px-4 shadow">
                    <div class="card-body py-3">
                        <h5 class="card-title mt-3 text-center "><i class="bi bi-shield-check fs-1"></i></h5>
                        <p class="card-text text-center">Register as a Official.</p>
                        <p class="text-center mt-3 mb-3">
                            <a href="/official_auth/register" class="btn btn-primary me-2">Continue</a> or 
                            <a href="/official_auth/login" class="card-link ms-2 me-3">Login</a>
                        </p>
                    </div>
                </div>


            </div>

        </div>

    </div>

</div>

    
{% endblock %}
    