{% extends 'index.html' %}
{% block content %}

<div class="page-wrapper-add-offender">

    {% include 'official_app/nav.html' %}

    <div class="main container py-3">

        <h5>Add Offender - </h5>

        <div class="offence-data-table table-responsive">
            <table class="table table-sm  caption-top">
                <caption><b>Offence Details</b></caption>
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Type</th>
                    <th scope="col">Location</th>
                    <th scope="col">Offenders</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th id="offence-id" scope="row">{{ offence_details.id }}</th>
                    <td>{{ offence_details.offence_type }}</td>
                    <td>{{ offence_details.offence_place }}</td>
                    <td>{{ offence_details.n_offenders }}</td>
                  </tr>
                </tbody>
            </table>
        </div>



        <div class="search-by row">
            <div class="form-check col-sm-3">
                <input class="form-check-input" type="radio" name="offender-type" id="known-offender" checked="true">
                <label class="form-check-label" for="known-offender">
                    Add Previously Known Offender
                </label>
            </div>
            <div class="form-check col-sm-9">
                <input class="form-check-input" type="radio" name="offender-type" id="new-offender">
                <label class="form-check-label" for="new-offender">
                    Add New Offender
                </label>
                </div>
        </div>


        <div class="known-offender tab fade show py-3">

            <h5>Search Known Offender -</h5>

            <div class="search-by-wrapper">

                {% include 'search_known_offenders.html' %}

            </div>

            <div class="offender-list py-3">


            </div>

        </div>

        <div class="new-offender tab fade show py-3" hidden>

            <h5>Offender Detais -</h5>

            <form action="" method="POST" enctype="multipart/form-data" >
                {% csrf_token %}

                {{ form.id }}

                <div class="row">
    
                    <div class="form-group my-2 col-sm-6">
                        <label for="">Offender Name</label>
                        {{ form.name }}
                        {% if form.name.errors %}
                        {% for error in form.name.errors %}
                        <div class="my-2 alert alert-warning alert-dismissible fade show" role="alert">
                            <strong>{{ error }}</strong>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        {% endfor %}
                    {% endif %} 
                    </div>
            
                    <div class="form-group my-2 col-sm-6">
                        <label for="">Offender Adhaar Id</label>
                        {{ form.uid }}
                        {% if form.uid.errors %}
                        {% for error in form.uid.errors %}
                        <div class="my-2 alert alert-warning alert-dismissible fade show" role="alert">
                            <strong>{{ error }}</strong>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        {% endfor %}
                    {% endif %} 
                    </div>
    
                </div>
        
                <div class="row">
    
                    <div class="form-group my-2 col-sm-6">
                        <label for="">Offender Gender</label>
                        {{ form.gender }}
                        {% if form.gender.errors %}
                        {% for error in form.gender.errors %}
                        <div class="my-2 alert alert-warning alert-dismissible fade show" role="alert">
                            <strong>{{ error }}</strong>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        {% endfor %}
                    {% endif %} 
                    </div>
            
                    <div class="form-group my-2 col-sm-6">
                        <label for="">Offender Contact Number</label>
                        {{ form.contact_number }}
                        {% if form.contact_number.errors %}
                        {% for error in form.contact_number.errors %}
                        <div class="my-2 alert alert-warning alert-dismissible fade show" role="alert">
                            <strong>{{ error }}</strong>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        {% endfor %}
                    {% endif %} 
                    </div>
    
                </div>
        
        
                <div class="form-group my-2">
                    <label for="">Offender Known Address</label>
                    {{ form.address }}
                    {% if form.address.errors %}
                    {% for error in form.address.errors %}
                    <div class="my-2 alert alert-warning alert-dismissible fade show" role="alert">
                        <strong>{{ error }}</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor %}
                {% endif %} 
                </div>
        
                <div class="form-group my-2">
                    <label for="">Offender Face Image</label><br>
                    {{ form.face_img }}
                    {% if form.face_img.errors %}
                    {% for error in form.face_img.errors %}
                    <div class="my-2 alert alert-warning alert-dismissible fade show" role="alert">
                        <strong>{{ error }}</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor %}
                {% endif %} 
                </div>

                {% for error in form.face_obj.errors %}
                <div class="my-2 alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>{{ error }}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}

                <button class="btn btn-primary my-2" type="submit">Submit</button>

            </form>

        </div>

    </div>

</div>

<script>

    window.onload = () => {

       const options =  document.getElementsByName('offender-type');
        let i;
       for( i=0 ; i<options.length ; i++ ){
            options[i].addEventListener('change', e => {
                setOffenderTab(e.target);
            } )   
       }

    }

    setOffenderTab = (checked) => {
        
        const tabs = document.querySelectorAll('.tab')

        tabs.forEach( tab => {
            if(tab.classList.contains(checked.id)){
                tab.hidden = false;
            }
            else{
                tab.hidden = true;
            }
        });
    }


    //SCRIPT FOR SEARCH BY IMAGE



  handleOffenders = (offenders) => {

    //GET WRAPPER
    wrapper = document.querySelector(".offender-list");
    wrapper.classList.add('row','py-4','fade','show');
    wrapper.innerHTML = ""
    
    //SET HEADINGS
    heading = document.createElement("h5")
    heading.classList.add("mb-3")
    heading.innerHTML = "Offender List -"
    heading.classList.add("col-sm-12","my-2")
    wrapper.appendChild(heading)

    offenders.forEach( offender => {
        
        card = document.createElement("div");
        card.classList.add('card','col-sm-3','mx-2','shadow');
        
        card.innerHTML = "<img src='/static/images"+offender.face_img+"' class='card-img-top' style='width:100%'  alt='...'><div class='card-body d-flex flex-column justify-content-between'><h5 class='card-title'>"+offender.name+"</h5><p class='card-text'><b>Gender :</b> "+offender.gender+"<br><b>Address :</b> "+offender.address+"<br><b>Contact Number : </b>"+offender.contact_number+"<br></p><button id='exampleModal' class='btn btn-sm btn-primary mt-2' data-bs-toggle='modal' data-bs-target='#offender-"+offender.id+"' >Add to Offence</button></div>"

        confirmModal = document.createElement("div");
        confirmModal.classList.add("modal");
        confirmModal.id = "offender-"+offender.id;
        confirmModal.setAttribute("tabindex","-1");
        confirmModal.setAttribute("aria-labelledby","label-"+offender.id);
        confirmModal.setAttribute("aria-hidden","true");
        confirmModal.innerHTML = "<div class='modal-dialog modal-dialog-centered'><div class='modal-content'><div class='modal-header'><h5 class='modal-title' id='label"+offender.id+"'>Add Offender - Confirmation</h5><button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button></div><div class='modal-body px-2'><img src='/static/images"+offender.face_img+"' class='img img-thumbnail my-2' style='width:'16rem'  alt='...'><br><b>Name :</b>"+offender.name+"<br><b>Gender :</b>"+offender.gender+"<br><b>Contact Number :</b>"+offender.contact_number+"<br></div><div class='modal-footer'><button type='button' class='btn btn-secondary' data-bs-dismiss='modal'>Close</button><a href='/official_app/add_known_offender/"+offender.id+"/{{offence_details.id}}' class='btn btn-primary'>Confirm</a></div></div></div>"

        card.appendChild(confirmModal);

        wrapper.appendChild(card);

    });

  }

</script>

{% endblock %}