{% extends 'index.html' %}
{% block content %}

{% include 'official_app/nav.html' %}
<div class="container mt-4">
    <form action="" id="new_notice" method="POST" >
        {% csrf_token %}
        <h5>New Notice</h5>
        <div class="form-group my-2">
            {{form.station}}
            {% if form.station.errors %}
            {% for error in form.station.errors %}
            <div class="my-3 alert alert-warning alert-dismissible fade show" role="alert">
                <strong>{{error}}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            {% endfor %}
        {% endif %} 
        </div>
        <div class="form-group mb-2">
            <label for="type">Type</label>
            {{form.type}}
            {% if form.type.errors %}
            {% for error in form.type.errors %}
            <div class="my-3 alert alert-warning alert-dismissible fade show" role="alert">
                <strong>{{error}}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            {% endfor %}
        {% endif %} 
        </div>
        <div class="form-group mb-2">
            <label for="title">Title</label>
            {{form.title}}
            {% if form.title.errors %}
            {% for error in form.title.errors %}
            <div class="my-3 alert alert-warning alert-dismissible fade show" role="alert">
                <strong>{{error}}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            {% endfor %}
        {% endif %} 
        </div>
         <div class="form-group mb-2">
            <label for="description">Description</label>
            {{form.description}}
            {% if form.description.errors %}
            {% for error in form.description.errors %}
            <div class="my-3 alert alert-warning alert-dismissible fade show" role="alert">
                <strong>{{error}}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            {% endfor %}
        {% endif %} 
        </div>
        <button type="submit" class="btn btn-success my-2" >Submit</button>
    </form>
</div>

{% endblock %}